# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
.env/
.env*/
.venv/

# Fichiers de build / cache
build/
dist/
.eggs/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =====================
# VS Code
# =====================
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# =====================
# OS / Temporaire
# =====================
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*~

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/
